<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel='stylesheet' href = "{{ url_for('static', filename='style.css') }}">
    <title>Register</title>
</head>
<body>
    <center>
        <h1>Register</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.email.label }} {{ form.email() }}<br><br>
            {{ form.password.label }} {{ form.password() }}<br><br>
            {{ form.submit() }}
        </form>
        <br>
        <a href='/'>Return to home page.</a>
    </center>
</body>
</html>
